body
{
  -webkit-font-smoothing:antialiased;
  font-family:Helvetica, sans-serif;
  margin:0;
  color: #222;
  /*background: url(/assets/images/creampaper.png) repeat fixed;*/
}

a
{
  color:#125bb3;
}

 h1
{
  color:#333;
  font-size:36px;
  font-weight:400;
  margin:18px 0 5px;
}

 h1 a
{
  color:#111;
  text-decoration:none;
}

 h2
{
  color:#555;
  font-size:26px;
  font-weight:400;
  margin-bottom:15px;
}

 h2 a
{
  color:#111;
  text-decoration:none;
}

 h3
{
  color:#777;
  font-size:25px;
  font-weight:400;
  margin-bottom:10px;
  padding-bottom:5px;
}

 h3 a
{
  color:#111;
  text-decoration:none;
}

 h4
{
  color:#444;
  font-weight:400;
}

 h4 a
{
  color:#111;
  text-decoration:none;
}

.container {
  width: 60%;
}

.sidebar
{
  left:20px;
  position:fixed;
  top:20px;
  width:100px;
}

.sidebar a
{
  text-decoration:none;
}

.sidebar img
{
  border:0;
  max-width:100%;
  padding:0 3px;
}

.sidebar .avatar
{
  border-radius:5px;
  margin-left:2px;
  padding:0;
}

.sidebar .name
{
  margin:0 0 17px;
  text-transform:lowercase;
}

.sidebar .fname
{
  color:#000;
  font-size:28px;
  font-weight:800;
  letter-spacing:1px;
  margin-bottom:-6px;
  padding-left:1px;
}

.sidebar .lname
{
  color:#000;
  font-size:20px;
  font-weight:100;
  letter-spacing:0;
}

.sidebar .meta a
{
  color:#000;
  margin-left:0;
}

.sidebar a:hover
{
  color:#227ce8;
}

.sidebar .sections
{
  margin:15px 0 0;
}

.sidebar .sections a
{
  color:#000;
  display:block;
  font-size:12px;
  font-weight:700;
  padding:3px 0;
}

.sidebar .sections ul
{
  margin:0;
  padding:0;
}

.sidebar .sections li
{
  list-style:none;
  margin-bottom:7px;
}

.content
{
  font-family:"Droid Sans", Helvetica, sans-serif;
  margin: 10px 20px 50px 180px;
  max-width:750px;
}

.content p
{
  font-size:18px;
  line-height:1.7em;
  margin-bottom:1.2em;
  margin-top:0;
}

.content code
{
  font-size: 14px;
  font-family: "Droid Sans Mono", monospace;
  background-color:#eee;
  border-radius:3px;
  padding:2px 3px;
}

.content .byline {
  margin-bottom: 17px;
  font-size: 17px;
  color: #777;
}

.content .highlight
{
  margin-bottom:1.2em;
}

.content img
{
  border:1px solid #eee;
  max-width:100%;
  padding:3px;
}

.content hr
{
  background-image:url(/assets/images/hr.png);
  background-repeat:repeat-x;
  border:0;
  height:6px;
  margin:2em 3em;
}

.content li
{
  line-height:1.4em;
  margin-bottom:10px;
}

.content blockquote
{
  color:#444;
  font-size:14px;
  font-style:italic;
  margin:1em 1em 0;
  padding:.25em 1em;
}

.content blockquote cite:before
{
  content:'— ';
}

.content blockquote cite
{
  color:#111;
  display:block;
  font-style:normal;
  margin-top:.5em;
  text-align:right;
}

.content .meta
{
  margin:30px 0;
  padding:10px 0;
}

.content .meta p
{
  font-size:12px;
  line-height:1.4;
  margin-top:0;
}

.posts .post {
  border-bottom: 1px solid #dedede;
  padding: 3px 0 4px;
}

.posts .post .post-date{
  color: #999;
  float: right;
}