* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 28px;
  color: #57565e;
  background-color: #f4f4f4; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 15px;
      line-height: 22px; } }

h1 {
  line-height: 1.2em; }

h1, h2, h3, h4 {
  color: #0d0d0e; }

a {
  color: #2e7fbc; }
  a:hover {
    color: #246393; }

code {
  min-width: 100%;
  float: left;
  padding: 15px;
  font-family: "Droid Sans Mono", monospace;
  line-height: 1.4em;
  background-color: #dfdfdf;
  border-radius: 10px; }

div.container {
  width: 700px;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 768px) {
    div.container {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    div.container {
      width: 90%; } }
  div.container:before, div.container:after {
    content: " ";
    display: table; }
  div.container:after {
    clear: both; }

div.header {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  div.header:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    div.header {
      margin-bottom: 0;
      padding-bottom: 0; } }
  div.header a {
    color: #323136;
    text-decoration: none; }
    div.header a:hover {
      text-decoration: none; }
    div.header a.header-image img {
      border-radius: 1000px;
      float: left;
      border: 5px solid #dddddd;
      margin-top: 10px; }
      @media screen and (max-width: 480px) {
        div.header a.header-image img {
          height: 80px;
          width: 80px; } }
  div.header .name {
    display: inline-block;
    float: left;
    font-size: 45px;
    line-height: 60px;
    margin-top: 40px;
    margin-left: 10px;
    letter-spacing: -3px; }
    @media screen and (max-width: 768px) {
      div.header .name {
        font-size: 35px;
        line-height: 50px;
        margin-top: 40px; } }
    @media screen and (max-width: 480px) {
      div.header .name {
        font-size: 30px;
        line-height: 40px;
        margin-top: 30px; } }
    div.header .name .fname {
      font-weight: bold;
      letter-spacing: -1px; }
    div.header .name .lname {
      font-weight: normal; }
  div.header .links {
    float: right; }
    @media screen and (max-width: 768px) {
      div.header .links {
        float: left;
        text-align: center;
        width: 100%; } }
    div.header .links ul {
      list-style: none;
      font-size: 14px;
      line-height: 28px; }
      @media screen and (max-width: 768px) {
        div.header .links ul {
          border-top: 1px solid #dddddd;
          display: block;
          line-height: 14px;
          padding: 10px 0 0 0; } }
      div.header .links ul li {
        border-bottom: 1px solid #dddddd; }
        div.header .links ul li:last-child {
          border-bottom: 0px; }
        @media screen and (max-width: 768px) {
          div.header .links ul li {
            display: inline-block;
            border-bottom: 0px;
            border-right: 1px solid #dddddd;
            padding: 0 10px 0 10px; }
            div.header .links ul li:last-child {
              border-right: 0px; } }

div.content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  div.content:last-child {
    margin-right: 0; }

div.byline {
  margin-top: -10px;
  color: #96959e;
  font-weight: 200;
  font-size: .8em; }

div.post .post-date {
  float: right;
  color: #96959e;
  font-weight: 200;
  font-size: .8em; }

div.post-footer {
  color: #96959e;
  font-weight: 200;
  font-size: .8em;
  line-height: 1.3em; }
