---
layout : default
---
<h1>{{ page.title }}</h1>

<div class="byline">
  {{ page.date | date: "%B %e, %Y" }}
</div>

{{ content }}

<hr />

<div class="post-footer">
  <p>
    I'm a developer in Franklin (Nashville), TN. I work with Java, Ruby, and Javascript, primarily, but am always trying to expand my horizons. You can <a href="https://twitter.com/{{ site.twitter }}" target="_blank">find me on twitter</a> or check out what very little public code I do have on <a href="https://github.com/{{ site.github }}" target="_blank">my GitHub</a>.
  </p>

  <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
  <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
